# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Data (Large Files)
data/*
!data/metadata/
*.csv
!data/metadata/*.json
!phase7_ui_frontend/config.js

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log
